@import url('https://fonts.googleapis.com/css2? family= Quicksand:wght@300;400;500;600;700 & display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    border-bottom: solid 1px #DCDBDB;
    height: 70px;
    display: flex;
}
.logo{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;  
    padding: 0 20px;
    align-items: center;
}
.logo img{
    width: 220px;
}
.title{
    width: 50%;
    height: 100%;
    background-color:#B4CD25;
    display: flex;  
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;

}
.body{
  display: flex;  
  justify-content: center;
  align-content: center;
  padding: 10px;
  height: 638px;
  background-color: #ffffff;
}
.contenedor{
    width: 1100px;
    height: 600px;
    background-color: #ffffff;
    display: flex;  
  justify-content: center;
  align-content: center;
}
.c1{
    width: 50%;
    height: 95%;
    background-color: #ffffff;
    margin-top: 20px;
    display: flex;  
    justify-content: center;
    flex-direction: column;
   
}
.c2{
    width: 50%;
    height: 95%;
    background-color: #918E8E;
    margin: 10px;
    display: flex;  
    justify-content: start;
    flex-direction: column;
}
.form{
    width: 98%;
    height: 25%;
    background-color: #ffffff;
    display: flex;  
    flex-direction: column;
    text-align: start;
    gap: 5px;
}
.form2{
    display: flex;   
}
.form3{
    display: flex;
    
   
}
.grid1{
width: 550px;
height: 220px;
background-color: #FDFDFD;
display: flex;  
border-radius: 3px;
border: 1px solid #d9d6d6;
gap: 2px;
padding-left: 2px;
padding-right: 2px;

}

.iz{
    display: flex;
    width: 50%;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    flex-direction: column;
}
.iz h2{
    font-family: 'quicksand';
    font-weight:normal;
    font-size: 17px;
    color: #979797;
    align-items: center;
    font-weight: 500;
}

.grid2{
    width: 98%;
    height: 50%;
    background-color: #6E6E76;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;  
    justify-content: center;
    align-content: center;
}
.boton{
    width: 30%;
    height: 8%;
    background-color: #6E6E76;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;  
    justify-content: center;
    align-content: center;
}
.input{
position: relative;
}
.input input{
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    height: 50px;
    padding: 26px 14px 7px 14px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;
    display: flex;  
}
.input label{
    font-weight: 600;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: #979797;
    position: absolute;
    left: 14px;
    
}


.form2{
    width: 98%;
    height: 25%;
    background-color: #ffffff;
    display: flex;  
    flex-direction: column;
    text-align: start;
    gap: 5px;
}
.combo{
    position: relative;
    
    }
    .combo::after{
        display: flex;
        position:absolute;
        justify-content: center;
        align-items: center;
        right: 0;
        content: "\025be";
        top: 0;
        background-color: #ededed;
        width: 30px;
        height: 96%;
        border: 1px solid #C8C8C8;
        border-radius: 0 3px 3px 0;
    }
    .combo select{
        border: 1px solid #C8C8C8;
        border-radius: 3px;
        height: 50px;
        padding: 26px 14px 7px 14px;
        font-weight: 400;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
    }
    .combo label{
        position: absolute;
        left: 14px;
        top: 5px;
        font-weight: 500;
        font-size: 12px;
        font-family: 'Quicksand', sans-serif;
        color: #979797;
    }
   .cajitas{
    display: flex;
    gap: 5px;
   }

  



